body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("very_sed.jpeg");

  /* Full height */
  height: 135%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
